#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
}
p font-family helvetica {
  font-size: 24px;
}

.background{

}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5rem;
	font-weight: 800;
	line-height: 15.4px;
  color: white;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 15.4px;
  color: rgb(204, 255, 153);
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 15.4px;
  color: rgb(255, 153, 102);
}

h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 15.4px;
  color: white;
}
