#set-height {
  display: block;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 0px;
}

.background {}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-15 {
  padding-right: 15px;
}

.p1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 200;
}

b {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.b1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 1000;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 15.4px;
  color: rgb(255, 153, 102);
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 15.4px;
  color: rgb(204, 255, 153);
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 15.4px;
  width: 800px;
  color: white;
}

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 15.4px;
  color: white;
}

h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 100%;
  /* width: 800px; */
  margin: 0;
  padding: 0;
  color: black;
}

h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 0px;
  color: black;

}

.right {
  text-align: right;
}

.borderDick {
  border-top: 7px black solid;
}


.offset-top-30 {
  margin-top: 30px;
}

.offset-top-40 {
  margin-top: 40px;
}

.offset-top-80 {
  margin-top: 80px;
}

.offset-top-100 {
  margin-top: 100px;
}

.offset-top-120 {
  margin-top: 120px;
}

.offset-top-200 {
  margin-top: 200px;
}

.offset-top-260 {
  margin-top: 260px;
}

.offset-top-270 {
  margin-top: 270px;
}

.offset-top-300 {
  margin-top: 300px;
}

.offset-top-350 {
  margin-top: 350px;
}

.offset-top-380 {
  margin-top: 380px;
}

.offset-top-400 {
  margin-top: 400px;
}

.offset-top-500 {
  margin-top: 500px;
}

.offset-top-600 {
  margin-top: 600px;
}

.offset-top-700 {
  margin-top: 700px;
}

.offset-top-800 {
  margin-top: 800px;
}

.offset-top-900 {
  margin-top: 900px;
}

.offset-top-1000 {
  margin-top: 1000px;
}

.offset-top-2000 {
  margin-top: 2000px;
}

.offset-top-3000{
  margin-top:3000px;
}

.offset-top-3800{
  margin-top:3800px;
}

.offset-top-4000{
  margin-top:4000px;
}

.offset-top-5000{
  margin-top:5000px;
}


.youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.accordion {
  /*  background-color: #eee; */
  /*  color: #444; */
    cursor: pointer;
  /*  padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
  /*  background-color: #ccc;*/
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


dd { display:none; }
.closed { background:red; }
.open { background:green; }


.accordion-container {
	width: 100%;
	margin: 0 0 20px;
	clear: both;
}
.accordion-toggle {
	position: relative;
	display: block;
	//*padding: 20px;*//
	font-size: 1.5em;
	font-weight: 300;
	//*background: #999;*//
	color: #fff;
	text-decoration: none;
}
.accordion-toggle.open {
	background: #333;
	color: #fff;
}
.accordion-toggle:hover {
	background: #666;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
	font-size: 1.5em;
}
.accordion-content {
	display: none;
	padding: 20px;
	overflow: auto;
}
.accordion-content img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	max-width: 100%;
	height: auto;
}

/* media query for mobile */
@media (max-width: 767px) {
	.accordion-content {
		padding: 10px 0;
		overflow: inherit;
	}
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /*background-color: white; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
