#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.background{

}

.p1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 200;
}

b {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: 600;}

.b1 {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 10px;
font-weight: 1000;}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 15.4px;
  color: rgb(255, 153, 102);
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 15.4px;
  color: rgb(204, 255, 153);
}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80px;
	font-weight: 800;
	line-height: 15.4px;
  width: 800px;
  color: white;
}

h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 15.4px;
  color: white;
}

h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80px;
	font-weight: 800;
	line-height: 100%;
  width: 800px;
  margin: 0;
  padding: 0;
  color: black;
}

h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: 800;
	line-height: 0px;
  color: black;
}

.offset-top-80{
  margin-top:80px;
}

.offset-top-30{
  margin-top:30px;
}

.offset-top-120{
  margin-top:120px;
}

.offset-top-300{
  margin-top:300px;
}

.right{
  text-align: right;
}

.borderDick{
  border-top:7px black solid;
}
